.sdg {
  display: grid;
  gap: 2rem;
}

.sdg section {
  display: grid;
  gap: 2rem;
}

.sdg section a {
  display: grid;
  padding: 0.6rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.4rem;
  transition: all 0.4s ease-out;
  text-decoration: none;
  background: #292091;
  color: white;
}

.sdg img {
  height: 320px;
  width: 320px;
  margin: auto;
}

.sdg p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
}

.project {
  display: grid;
  margin-top: 1rem;
  border-radius: 0.4rem;
}

.content section {
  display: grid;
  line-height: 1.5;
  text-align: justify;
  align-content: space-between;
  gap: 1rem;
}

.content img {
  height: 100%;
  object-fit: fill;
  object-position: top;
}

.content a {
  padding: 0.6rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.4rem;
  transition: all 0.4s ease-out;
  text-decoration: none;
  background: #292091;
  color: white;
}

.content a:hover {
  transform: scale(1.04);
}

.divider h3 {
  text-align: center;
  font-size: 1.4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.list {
  padding: 1rem;
}

.accomplishment a,
.list a {
  display: grid;
  padding: 0.6rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.4rem;
  transition: all 0.4s ease-out;
  text-decoration: none;
  background: #292091;
  color: white;
}

@media screen and (min-width: 300px) {
  .project h1 {
    font-size: 1.24rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    border-bottom: 6px double #912020;
    text-align: center;
    color: #912020;
    padding: 1rem;
  }

  .right-img {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .project h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .content {
    padding: 1rem;
  }

  .content img {
    height: 100%;
  }

  .accomplishment {
    display: grid;
    padding: 1rem;
    gap: 1rem;
  }
}

@media screen and (min-width: 720px) {
  main {
    width: 85%;
    margin: auto;
  }

  .project h1 {
    text-align: left;
    font-size: 1.64rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    border-bottom: 6px double #912020;
    color: #912020;
    padding: 1rem;
  }

  .sdg {
    grid-template-columns: auto 1fr;
    display: grid;
  }

  .sdg img {
    height: 200px;
    width: 200px;
    padding: 0rem;
    margin: 0px;
  }

  .right-img {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 46%;
    padding: 2rem;
    gap: 2rem;
  }

  .left-img {
    display: grid;
    align-items: start;
    grid-template-columns: 46% 1fr;
    padding: 2rem;
    gap: 2rem;
  }

  .divider h3 {
    text-align: center;
    font-size: 1.8rem;
  }

  .accomplishment {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    gap: 1rem;
  }
}
